#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

&mt {
    quick-tap-ms = <100>;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    combos {
        compatible = "zmk,combos";

        asergo {
            timeout-ms = <100>;
            key-positions = <21 25>;
            bindings = <&tog 0>;
            layers = <8>;
        };

        base {
            timeout-ms = <100>;
            bindings = <&tog 8>;
            key-positions = <21 14>;
            layers = <0>;
        };

        copy-combo {
            bindings = <&kp LG(C)>;
            key-positions = <12 23>;
            layers = <0 1 2 7 8>;
        };

        up-combo {
            bindings = <&kp UP_ARROW>;
            key-positions = <7 17>;
            layers = <0 1 2 7 8>;
        };

        down-combo {
            bindings = <&kp DOWN>;
            key-positions = <17 28>;
            layers = <0 1 2 7 8>;
        };

        left-combo {
            bindings = <&kp LEFT>;
            key-positions = <17 16>;
            layers = <0 1 2 7 8>;
        };

        right-combo {
            bindings = <&kp RIGHT>;
            key-positions = <17 18>;
            layers = <0 1 2 7 8>;
        };

        vol-up-combo {
            bindings = <&kp C_VOL_UP>;
            key-positions = <6 16>;
            layers = <0 1 2 7 8>;
        };

        vol-down-combo {
            bindings = <&kp C_VOL_DN>;
            key-positions = <16 27>;
            layers = <0 1 2 7 8>;
        };

        bright-up-combo {
            bindings = <&kp C_BRIGHTNESS_INC>;
            key-positions = <5 15>;
            layers = <0 1 2 7 8>;
        };

        bright-down-combo {
            bindings = <&kp C_BRIGHTNESS_DEC>;
            key-positions = <15 26>;
            layers = <0 1 2 7 8>;
        };

        prev-combo {
            bindings = <&kp C_PREV>;
            key-positions = <5 6>;
            layers = <0 1 2 7 8>;
        };

        pause-combo {
            bindings = <&kp C_PLAY_PAUSE>;
            key-positions = <6 7>;
            layers = <0 1 2 7 8>;
        };

        next-combo {
            bindings = <&kp C_NEXT>;
            key-positions = <7 8>;
            layers = <0 1 2 7 8>;
        };

        mute-combo {
            bindings = <&kp C_MUTE>;
            key-positions = <16 15>;
            layers = <0 1 2 7 8>;
        };

        paste-combo {
            bindings = <&kp LG(V)>;
            key-positions = <13 24>;
            layers = <0 1 2 7 8>;
        };

        stt-combo {
            bindings = <&kp LC(LA(LS(V)))>;
            key-positions = <14 25>;
            layers = <0 1 2 7 8>;
        };

        page_back {
            bindings = <&kp LG(LEFT_BRACKET)>;
            key-positions = <1 2>;
            layers = <0 1 2 7 8>;
        };

        page_next {
            bindings = <&kp LG(RIGHT_BRACKET)>;
            key-positions = <2 3>;
            layers = <0 1 2 7 8>;
        };

        sleep {
            bindings = <&kp LC(LG(Q))>;
            key-positions = <8 9>;
            layers = <0 1 2 7 8>;
        };

        colon {
            bindings = <&kp SEMI>;
            key-positions = <8 18>;
            layers = <0 1 2 7 8>;
        };

        apos {
            bindings = <&kp APOS>;
            key-positions = <9 19>;
            layers = <0 1 2 7 8>;
        };

        esc {
            bindings = <&kp LG(TAB)>;
            key-positions = <13 14>;
            layers = <0 1 2 7 8>;
        };

        browser {
            bindings = <&kp LS(LA(LC(LG(A))))>;
            key-positions = <10 21>;
            layers = <0 1 2 7 8>;
        };

        esc2 {
            bindings = <&kp ESC>;
            key-positions = <2 12>;
            layers = <0 1 2 7 8>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <3 13>;
            layers = <0 1 2 7 8>;
        };

        oneshot_hyper {
            bindings = <&sl 6>;
            key-positions = <33 34>;
            layers = <0 1 2 7 8>;
        };

        mst {
            bindings = <&kp LS(LG(T))>;
            key-positions = <12 3>;
            layers = <0 1 2 7 8>;
        };

        raycast {
            bindings = <&kp F13>;
            key-positions = <4 14>;
            layers = <0 1 2 7 8>;
        };

        gaming_v1_layer {
            bindings = <&to 3>;
            key-positions = <23 24>;
            layers = <0>;
        };

        asergo_layer {
            bindings = <&to 0>;
            key-positions = <22 23>;
            layers = <3 4 5>;
        };

        gaming_v2_layer {
            bindings = <&to 9>;
            key-positions = <25 24>;
            layers = <3 4 5>;
        };
    };

    behaviors {
        gui_space_tab_morph: gui_space_tab_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "GUI_SPACE_TAB_MORPH";
            bindings = <&kp SPACE>, <&kp TAB>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI)>;
            keep-mods = <(MOD_LGUI)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /*
         * Asergo is the user's primary custom non-QWERTY typing layout.
         * Its name comes from the home-row sequence A S E R G, plus O for "aser go".
         */

        asergo_layer_0 {
            bindings = <
        &kp Q               &kp W           &kp D               &kp T                &kp F                       &kp Y                      &kp U              &kp K                &kp L            &kp MINUS
        &mt LEFT_CONTROL A  &mt LEFT_ALT S  &mt LEFT_COMMAND E  &mt LEFT_SHIFT R     &mt LA(LC(LEFT_SHIFT)) G    &mt RA(RC(RIGHT_SHIFT)) H  &mt RIGHT_SHIFT N  &mt RIGHT_COMMAND I  &mt RIGHT_ALT O  &mt RIGHT_CONTROL P
&trans  &kp X               &kp Z           &kp C               &kp V                &kp B                       &kp J                      &kp M              &kp COMMA            &kp DOT          &mt RS(RA(RC(RIGHT_META))) FSLH  &trans
                                            &trans              &mt LEFT_SHIFT BSPC  &lt 1 SPACE                 &lt 2 RET                  &mt RIGHT_ALT TAB  &trans
            >;
        };

        spc_layer_1 {
            bindings = <
        &kp N1           &kp N2    &kp N3    &kp N4     &kp N5                        &kp N6                  &kp N7    &kp N8    &kp N9  &kp N0
        &mt LCTRL GRAVE  &kp LALT  &kp LGUI  &kp LSHFT  &mt LA(LC(LEFT_SHIFT)) F11    &mt RA(RC(RSHIFT)) F12  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT
&trans  &kp F1           &kp F2    &kp F3    &kp F4     &kp F5                        &kp F6                  &kp F7    &kp F8    &kp F9  &kp F10    &trans
                                   &trans    &trans     &trans                        &trans                  &trans    &trans
            >;
        };

        ret_layer_2 {
            bindings = <
        &kp BSLH                        &kp LS(AMPS)       &kp LS(STAR)     &kp LS(TILDE)        &kp LBKT                                   &kp RBKT                                      &kp N7              &kp N8                &kp N9            &kp MINUS
        &mt LEFT_CONTROL GRAVE          &mt LEFT_ALT EXCL  &mt LEFT_GUI AT  &mt LEFT_SHIFT HASH  &mt LA(LC(LEFT_SHIFT)) LEFT_PARENTHESIS    &mt RA(RC(RIGHT_SHIFT)) KP_RIGHT_PARENTHESIS  &mt RIGHT_SHIFT N1  &mt RIGHT_COMMAND N2  &mt RIGHT_ALT N3  &mt RIGHT_CONTROL N0
&trans  &mt LS(LA(LC(LEFT_META))) PIPE  &kp LS(DLLR)       &kp LS(PRCNT)    &kp LS(CARET)        &kp LS(LBRC)                               &kp LS(RBRC)                                  &kp N4              &kp N5                &kp N6            &kp EQUAL             &trans
                                                           &trans           &trans               &trans                                     &trans                                        &trans              &trans
            >;
        };

        /*
         * Gaming stack: layer 3 is low-latency direct QWERTY controls; layer 4
         * is a held hotbar/util layer; layer 5 is a one-shot function layer.
         * Normal combos are scoped away from layers 3/4/5 to avoid game latency.
         */

        gaming_v1_layer_3 {
            bindings = <
        &kp LEFT_ALT  &kp Q  &kp X   &kp E  &kp R        &trans  &trans  &trans  &trans  &trans
        &kp LCTRL     &kp A  &kp W   &kp D  &kp F        &trans  &trans  &trans  &trans  &trans
&trans  &kp LSHFT     &kp Z  &kp S   &kp C  &kp V        &trans  &trans  &trans  &trans  &trans  &trans
                             &trans  &mo 4  &kp SPACE    &trans  &trans  &trans
            >;
        };

        gaming_plus_layer_4 {
            bindings = <
        &kp BACKSPACE  &trans  &kp ESC  &kp TAB  &kp T     &trans  &trans  &trans  &trans  &trans
        &sl 5          &kp N1  &kp N2   &kp N3   &kp G     &trans  &trans  &trans  &trans  &trans
&trans  &kp ENTER      &kp N4  &kp N5   &kp N6   &kp B     &trans  &trans  &trans  &trans  &trans  &trans
                               &trans   &trans   &trans    &trans  &trans  &trans
            >;
        };

        gaming_plus_oneshot_layer_5 {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
        &trans  &kp F1  &kp F2  &kp F3  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp F4  &kp F5  &kp F6  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        hyper_oneshot_layer_6 {
            bindings = <
        &kp LS(LA(LC(LG(Q))))  &kp LS(LA(LC(LG(W))))  &kp LS(LA(LC(LG(D))))  &kp LS(LA(LC(LG(T))))     &kp LS(LA(LC(LG(F))))        &kp LS(LA(LC(LG(Y))))    &kp LS(LA(LC(LG(U))))    &kp LS(LA(LC(LG(K))))      &kp LS(LA(LC(LG(L))))    &kp LS(LA(LC(LG(MINUS))))
        &kp LS(LA(LC(LG(A))))  &kp LS(LA(LC(LG(S))))  &kp LS(LA(LC(LG(E))))  &kp LS(LA(LC(LG(R))))     &kp LS(LA(LC(LG(G))))        &kp LS(LA(LC(LG(H))))    &kp LS(LA(LC(LG(N))))    &kp LS(LA(LC(LG(I))))      &kp LS(LA(LC(LG(O))))    &kp LS(LA(LC(LG(P))))
&trans  &kp LS(LA(LC(LG(X))))  &kp LS(LA(LC(LG(Z))))  &kp LS(LA(LC(LG(C))))  &kp LS(LA(LC(LG(V))))     &kp LS(LA(LC(LG(B))))        &kp LS(LA(LC(LG(J))))    &kp LS(LA(LC(LG(M))))    &kp LS(LA(LC(LG(COMMA))))  &kp LS(LA(LC(LG(DOT))))  &kp LS(LA(LC(LG(FSLH))))   &trans
                                                      &trans                 &kp LS(LA(LC(LG(BSPC))))  &kp LS(LA(LC(LG(SPACE))))    &kp LS(LA(LC(LG(RET))))  &kp LS(LA(LC(LG(TAB))))  &trans
            >;
        };

        bt_unused_layer_7 {
            label = "BT";
            bindings = <
        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans  &trans  &trans  &trans  &trans
        &sys_reset    &bootloader   &bt BT_CLR    &out OUT_TOG  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans        &bt BT_PRV    &bt BT_NXT    &trans        &trans          &trans  &trans  &trans  &trans  &trans  &trans
                                    &trans        &trans        &trans          &trans  &trans  &trans
            >;
        };

        media_unused_layer_8 {
            bindings = <
        &trans     &trans    &trans    &trans     &trans               &trans  &kp F7  &kp F8  &kp F9  &kp F12
        &kp LCTRL  &kp LALT  &kp LGUI  &kp LSHFT  &kp LC(LA(LSHFT))    &trans  &kp F1  &kp F2  &kp F3  &kp F10
&trans  &trans     &trans    &trans    &trans     &trans               &trans  &kp F4  &kp F5  &kp F6  &kp F11  &trans
                             &trans    &trans     &trans               &trans  &trans  &trans
            >;
        };

        gaming_v2_layer_9 {
            bindings = <
        &kp TAB    &kp N1  &kp N2  &kp N3  &kp N4       &trans  &trans  &trans  &trans  &trans
        &kp ESC    &kp A   &kp W   &kp D   &kp R        &trans  &trans  &trans  &trans  &trans
&trans  &kp LSHFT  &kp Z   &kp S   &kp C   &kp V        &trans  &trans  &trans  &trans  &trans  &trans
                           &trans  &mo 4   &kp SPACE    &trans  &trans  &trans
            >;
        };
    };
};
